body,html {
    margin: 0;
    height:100%;
}

header{
    min-height:150px;
}

table th,td{
    font-size: 1.2em;
}

h1{
    text-align:center;
    margin-bottom: 50px;
}

#start{
    border-radius: 12px;
    font-size: 3em;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 10px 36px;
    margin-bottom:100px;
}

#next,#finish,#end{
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-bottom: 20px;
    margin-bottom:100px;
}

#save,#return{
    border-radius: 10px;
    font-size: 1.6em;
    text-align: center;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-bottom: 20px;
    margin-bottom:100px;
}

#myBtn {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    border: none;
    outline: none;
    background-color:rgb(82, 80, 80);
    color: white;
    cursor: pointer;
    padding: 14px;
    border-radius: 4px;
    text-decoration:none;
    font-size: 1.4em;
}
  
#myBtn:hover {
    background-color: grey; 
}

#msg{
    margin-bottom:100px;
}

h4{
    margin-bottom:100px;
}

#scores_t{
    margin-bottom:100px;
}

footer {
    background-color:rgba(28, 32, 36, 1);
    width:100%;
    text-align: center;
    bottom: 0;
    height:70px;
    position: fixed;
}

@media screen and (max-width: 600px){
    #next,#finish,#end,#save,#return{
        margin-bottom:30px;
    }
}



